
<div class="text-center"style="margin-50px">
<%= render @friend %>
</div>

<div class= " text-center ">
  <%= link_to "Edit this friend", edit_friend_path(@friend) , class:"btn btn-secondary" %> 
  <%= link_to "Back to friends", friends_path , class:"btn btn-secondary"%>
  <br>
  </br>
  <%= button_to "Destroy this friend", @friend, method: :delete ,data:{ confirm: "Are you sure?" },class:"btn btn-dark" %>
</div>
